:root {
  --bg-color: #000000;
  --white-color: whitesmoke;
  --darkgray-color: #6f6e6f;
  --lightgray-color: #cacaca;
  --accent-color: #e31110;
  --change-color: #065fd5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

.title {
  font-weight: 500;
}

/* Header */
header {
  display: flex;
  background-color: var(--bg-color);
  color: var(--white-color);
  justify-content: space-between;
  padding: 8px 12px;
}
header .logo {
  font-size: larger;
  font-weight: 800;
}

header .logo i {
  color: var(--accent-color);
}

.icons {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.icons button {
  color: var(--white-color);
  padding-left: 2px;
}

/* Video Player */
.player {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}
.player video {
  width: 100%;
  height: auto;
  max-width: 600px;
}

/* Video Info */
.info {
  padding: 0px 0px;
}
.info .metadata {
  padding: 8px 12px;
}
/* hastags */
.info .metadata .hashtags {
  margin: 0;
  padding: 0;
  display: flex;
}
.info .metadata .hashtags li {
  float: left;
  color: #304df0;
  padding-right: 5px;
  font-size: small;
}
/* titleAndButton */
.info .metadata .titleAndButton {
  display: flex;
  justify-content: space-between;
}
.info .metadata .titleAndButton .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: large;
  margin-right: 4px;
}
.info .metadata .titleAndButton .moreBtn {
  height: 100%;
  margin: 4px;
}
/* views */
.info .metadata .views {
  font-size: x-small;
  color: var(--darkgray-color);
  padding-top: 4px;
}

/* actions */
.info .actions {
  padding: 8px 0px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--lightgray-color);
}

.info .actions button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: smaller;
  color: var(--darkgray-color);
}

.info .actions span {
  margin-top: 8px;
}
.actions button i:active {
  color: var(--change-color);
}

/* channel */
.info .channel {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border-bottom: 1px solid rgb(184, 183, 183);
}
.info .channel .metadata {
  float: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.info .channel .metadata img {
  height: 40px;
  border-radius: 50%;
}

.info .metadata .info {
  float: right;
  padding: 0 8px;
  height: 100%;
}

.info .metadata .info .subscriber {
  display: flex;
  font-size: smaller;
  color: var(--darkgray-color);
}

.info .channel .subscribe {
  text-transform: uppercase;
  color: var(--accent-color);
  font-family: "Roboto", sans-serif;
}

/* Up next */
/* Mobile Frist ->  / 768px / 1024px */
.UpNext {
  padding: 8px 12px;
}
.UpNext span.title {
  color: var(--darkgray-color);
}
.UpNext ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.UpNext img {
  width: 200px;
  height: 120px;
}
.UpNext .item {
  display: flex;
  align-items: flex-start;
}
.UpNext .item .info {
  float: right;
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 120px;
  padding: 0 12px;
  color: var(--darkgray-color);
  font-size: small;
}
.UpNext .item .info .title {
  color: black;
  font-size: medium;
}

.UpNext .item {
  display: flex;
  padding-bottom: 30px;
}

/* Desktop 일때 */
@media screen and (min-width: 1024px) {
}
