:root {
  --bg-color: #000000;
  --basic-color: whitesmoke;
  --addtional-color: rgb(102, 102, 102);
  --accent-color: rgb(253, 31, 31);
}

button {
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0;
}

body {
  margin: 0;
}

ul {
  list-style: none;
}

/* Header */
header {
  display: flex;
  background-color: var(--bg-color);
  justify-content: space-between;
  padding: 8px 12px;
}

header .logo i {
  color: var(--accent-color);
}

header .logo .title {
  color: var(--basic-color);
  font-family: "Roboto", sans-serif;
}

.icons {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.icons button {
  color: var(--basic-color);
  padding: 0;
}

/* Video Player */
@media screen and (max-aspect-ratio: 1219/685) {
  .player video {
    width: 100%;
    height: auto;
  }
}

/* Video Info */
.info {
  padding: 0px 0px;
}
.info .metadata {
  padding: 8px 12px;
}
/* hastags */
.info .metadata .hashtags {
  margin: 0;
  padding: 0;
  display: flex;
}
.info .metadata .hashtags li {
  float: left;
  color: #304df0;
  padding-right: 5px;
  font-size: small;
}
/* titleAndButton */
.info .metadata .titleAndButton {
  display: flex;
  justify-content: space-between;
  padding: 3px 0px;
}
.info .metadata .titleAndButton .title {
  font-size: large;
  margin-right: 4px;
}
.info .metadata .titleAndButton .moreBtn {
  margin: 4px;
  border: none;
  background: none;
}
/* views */
.info .metadata .views {
  font-size: x-small;
  color: var(--addtional-color);
}

/* actions */
.info .actions {
  padding: 8px 12px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--addtional-color);
}
.info .actions li {
  float: left;
}
.info .actions button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
}
.info .actions i {
  color: var(--addtional-color);
}
.info .actions span {
  margin-top: 12px;
  color: var(--addtional-color);
}

/* channel */
.info .channel {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border-bottom: 1px solid var(--addtional-color);
}
.info .channel .metadata {
  float: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.info .channel .metadata img {
  height: 40px;
  border-radius: 50%;
}

.info .metadata .info {
  float: right;
  padding: 0 8px;
  height: 100%;
}
.info .metadata .info .name {
}
.info .metadata .info .subscriber {
  display: flex;
  font-size: smaller;
  color: var(--addtional-color);
}

.info .channel .subscribe {
  text-transform: uppercase;
  color: var(--accent-color);
}

/* Up next */
.UpNext {
  padding: 8px 12px;
}
.UpNext .title {
  color: var(--addtional-color);
}
.UpNext ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.UpNext a {
  text-decoration: none;
}

.UpNext .item li {
  display: flex;
  flex-direction: row;
}
.UpNext img {
  width: 200px;
  height: 120px;
}
.UpNext .item .info {
}
